<html>
    <header>    
        <script>
            window.open('', '_self').close();
            window.history.go(-1);
            window.history.back();
            location.reload();
            window.location=document.referrer;
            window.location.replace(document.referrer);
            window.location.reload(history.back());
            window.location.assign(window.history.back());
        </script>
        <title>Empty</title> 
    </header>
    <body onload="window.location.assign(window.history.back());">
    </body>
</html>
